doctype html
// paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
|  
// <![endif]
meta(charset='utf-8')
// Set the viewport width to device width for mobile
meta(name='viewport', content='width=device-width')
|   
title(data-id='8f387269696d') !{fieldMap['8f387269696d'].copy}
// Included CSS Files
link(rel='stylesheet', href='test/stylesheets/styles.css')
|   
script(src='vendor/assets/javascripts/foundation/modernizr.foundation.js')
// IE Fix for HTML5 Tags
//if lt IE 9
  script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
.row
  .twelve.columns
    h2(data-id='86f8d2473e57') !{fieldMap['86f8d2473e57'].copy}
    |       
    p(data-id='eb0aae3dc5f5') !{fieldMap['eb0aae3dc5f5'].copy}
    |       
    hr
|   
.row
  .eight.columns
    h3(data-id='c9f542e8873f') !{fieldMap['c9f542e8873f'].copy}
    // Grid Example
    .row
      .twelve.columns
        .panel
          p(data-id='50377ecd09ad') !{fieldMap['50377ecd09ad'].copy}
    |       
    .row
      .six.columns
        .panel
          p(data-id='b72e2a00a145') !{fieldMap['b72e2a00a145'].copy}
      |         
      .six.columns
        .panel
          p(data-id='36be53f3be5c') !{fieldMap['36be53f3be5c'].copy}
    |       
    .row
      .four.columns
        .panel
          p(data-id='a4b302da35f2') !{fieldMap['a4b302da35f2'].copy}
      |         
      .four.columns
        .panel
          p(data-id='a794dc5d08ab') !{fieldMap['a794dc5d08ab'].copy}
      |         
      .four.columns
        .panel
          p(data-id='8e52ee03a845') !{fieldMap['8e52ee03a845'].copy}
    |       
    h3(data-id='ae912c7f9169') !{fieldMap['ae912c7f9169'].copy}
    |       
    dl.tabs
      dd.active
        +link(fieldMap['06d7252e2aef'], 'null')
      |         
      dd
        +link(fieldMap['99dfd40d0298'], 'null')
      |         
      dd
        +link(fieldMap['32219653000f'], 'null')
    |       
    ul.tabs-content
      li#simple1Tab.active(data-id='9e467801f1ae') !{fieldMap['9e467801f1ae'].copy}
      |         
      li#simple2Tab(data-id='912dd3a7b82e') !{fieldMap['912dd3a7b82e'].copy}
      |         
      li#simple3Tab(data-id='d32e7b52999d') !{fieldMap['d32e7b52999d'].copy}
    |       
    h3(data-id='80ffc5f29545') !{fieldMap['80ffc5f29545'].copy}
    |       
    .row
      .six.columns
        p(data-id='0262fd3baf13')
          +link(fieldMap['9f148dcf523c'], 'small button')
        |           
        p(data-id='dddf110e1da2')
          +link(fieldMap['e752b02c87a6'], 'button')
        |           
        p(data-id='96b8cf83249a')
          +link(fieldMap['ed514a6031a1'], 'large button')
      |         
      .six.columns
        p(data-id='8288f8510ccd')
          +link(fieldMap['09cc63378738'], 'small alert button')
        |           
        p(data-id='cad090fa9991')
          +link(fieldMap['6735ff3ba618'], 'success button')
        |           
        p(data-id='7f30853b0161')
          +link(fieldMap['0643e6e5a923'], 'large secondary button')
  |     
  .four.columns
    h4(data-id='4a988cbf009d') !{fieldMap['4a988cbf009d'].copy}
    |       
    p(data-id='8487d21a427f') !{fieldMap['8487d21a427f'].copy}
    |       
    h4(data-id='65f5c518528d') !{fieldMap['65f5c518528d'].copy}
    |       
    p(data-id='0d366dd018b4') !{fieldMap['0d366dd018b4'].copy}
    |       
    ul.disc
      li
        +link(fieldMap['ed43d7eaaa9c'], 'null')
        br
        | Everything you need to know about using the framework.
      |         
      li
        +link(fieldMap['b758c03daad8'], 'null')
        br
        | Latest code, issue reports, feature requests and more.
      |         
      li
        +link(fieldMap['ea4eb6afe777'], 'null')
        br
        | Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
// Included JS Files
script(src='vendor/assets/javascripts/foundation/jquery.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.reveal.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.orbit.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.forms.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.placeholder.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.tooltips.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.alerts.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.buttons.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.accordion.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.navigation.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.mediaQueryToggle.js')
|   
script(src='vendor/assets/javascripts/foundation/jquery.foundation.tabs.js')
|   
script(src='vendor/assets/javascripts/foundation/app.js')